<a href="https://colab.research.google.com/github/Omonov01/DataScienseProject/blob/main/Tabular.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!!pip install fastai==2.5.3

In [ ]:
import fastai
import torch
print(fastai.__version__)
print(torch.__version__)

2.5.3
1.10.2+cu102

In [ ]:
from fastai.tabular.all import *

path = untar_data(URLs.ADULT_SAMPLE)
# path.ls()

#DATALOADERS
dls = TabularDataLoaders.from_csv(path/'adult.csv',path=path, bs=64,y_names='salary',skipinitialspace=False,
                       cat_names = ["workclass","education","marital-status","occupation","relationship","race","sex",],
                       cont_names = ["age","fnlwgt","education-num","capital-gain","capital-loss","hours-per-week"],
                       procs = [Categorify,FillMissing,Normalize])

#learner
learn = tabular_learner(dls,metrics=accuracy)
learn.fit_one_cycle(4)

In [ ]:
import pandas as pd
df = pd.read_csv(path/"adult.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [ ]:
row , pred ,probs = learn.predict(df.iloc[0])
pred.item(),probs

(1, tensor([0.1130, 0.8870]))